<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pelicula</title>
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <form class="card formulario" action="/edit/<%= respuesta.data.id %>?_method=PUT" method="post">
        <input type="hidden" name="id">
        <div>        
            <label for="title">Título </label>
            <p><input type="text" name="title" id="title" value="<%= respuesta.data.title %> "></p>
        </div>
        <div>
            <label for="rating">Calificación </label>
            <p><input type="number" name="rating" id="rating" value="<%=respuesta.data.rating %>"></p>
        </div>
        <div>
        <label for="awards">Premios </label>
        <p><input type="number" name="awards" id="awards" value="<%=respuesta.data.awards %>"></p>
        </div>
        <div>
            <label for="release_date">Fecha de creación </label>
            <p><input type="date" name="release_date" id="release_date" value="<%=respuesta.data.release_date %>"></p>
        </div>
        <div>
            <label for="length">Duración </label>
            <p><input type="number" name="length" id="length" value="<%=respuesta.data.length %>"></p>
        </div>
        
        <br>
        <div class="action">
            <a href="/"><button class="botonAgregar" >Editar</button></a>
        </div>
    </form>
    <script src="js/formulario.js"></script>
</body>
</html> 